<li>
  {{pizza}}
  <button class='devour' id='{{this.id}}' data-devoured='{{devoured}}'>
    {{#if devoured}}MAKE DA PIZZA{{else}}EAT DA PIZZA
    {{/if}}

  </button>

  <button class="delete-pizza" data-id="{{this.id}}">DELETE!</button>
</li>